.hero-view {
  height: 100%;
  width: 100%;
}

.hero-view .content {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  margin-top: 8vw;
}
.hero-view .content .top {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.hero-view .content .top h5 {
  font-size: 3.8vw;
  font-weight: 300;
  text-transform: uppercase;
}
.hero-view .content .top h1,
.hero-view .content .top .hero-title {
  font-size: 14vw;
  line-height: 15vw;
  width: 90%;
  font-weight: 300;
  height: 48vw; 
}

.mobile-title {
  display: block;
}

.desktop-title {
  display: none;
}
.hero-view .content .bottom {
  width: 100%;
  height: 49vw;
}
.hero-view .content .bottom img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 1020px) {

  .hero-view .content {
    gap: 4vw;
    margin-top: 4vw;
  }
  .hero-view .content .top {
    gap: 1vw;
  }
  .hero-view .content .top h5 {
    font-size: 1vw;
  }
  .hero-view .content .top h1,
  .hero-view .content .top .hero-title {
    font-size: 5.5vw;
    line-height: 6vw;
    font-weight: 350;
    white-space: nowrap;
    height: 7vw;
  }

  .mobile-title {
    display: none;
  }

  .desktop-title {
    display: block;
  }

  .hero-view .content .bottom {
    height: 43vw;
  }

}